In [6]:
import pandas as pd
import numpy as np

In [7]:
moon_df = pd.read_csv('Resources/full_moon.csv')
birth_df1 = pd.read_csv('Resources/US_births_1994-2003_CDC_NCHS.csv')
birth_df2 = pd.read_csv('Resources/US_births_2000-2014_SSA.csv')

In [5]:
moon_df.head()

         Day               Date          Time
0     Monday    15 January 1900   08:07:30 pm
1  Wednesday   14 February 1900   02:50:12 pm
2     Friday      16 March 1900   09:11:48 am
3     Sunday      15 April 1900   02:02:06 am
4     Monday        14 May 1900   04:36:36 pm